In [1]:
import pandas as pd
print(pd.Series([1, 2, 3, 4]))
s1 = pd.Series([1, 2, 3, 4], index=list("abcd"))
print(s1)
s1.index=list("1234")
print(s1)

0    1
1    2
2    3
3    4
dtype: int64
a    1
b    2
c    3
d    4
dtype: int64
1    1
2    2
3    3
4    4
dtype: int64

In [7]:
s1.get_values()#获取所有value

array([1, 2, 3, 4], dtype=int64)

In [10]:
#通过字典创建series

pd.Series({1: "a", 2: "b", 3: "c"})

1    a
2    b
3    c
dtype: object

In [18]:
#通过字典创建dataframe

data = {"name": ["张三", "李四", "王五"], "age": [12, 23, 43]}

frame = pd.DataFrame(data)
print(frame)
print(type(frame))

  name  age
0   张三   12
1   李四   23
2   王五   43
<class 'pandas.core.frame.DataFrame'>

In [22]:
#DataFrame 索引
name_ = frame['name']
print(name_)
print(type(name_))

0    张三
1    李四
2    王五
Name: name, dtype: object
<class 'pandas.core.series.Series'>

In [33]:
#drop 返回一个新的dataframe 不会修改之前的df
dropdf = frame.drop(["name","age"],axis=1)
print(dropdf)
print(frame)

Empty DataFrame
Columns: []
Index: [0, 1, 2]
  name  age
0   张三   12
1   李四   23
2   王五   43

In [45]:
#切片
frame["age"]>20
age_ = frame[frame["age"] > 20]
print(age_)

print(frame[["age",'name']])#获取多列

  name  age
1   李四   23
2   王五   43
   age name
0   12   张三
1   23   李四
2   43   王五

In [61]:
#汇总计算和铜价描述
print(frame.count(axis=0))
print(frame.describe())
print(frame.std())
print(frame.var())
print(frame["age"].diff())

name    3
age     3
dtype: int64
             age
count   3.000000
mean   26.000000
std    15.716234
min    12.000000
25%    17.500000
50%    23.000000
75%    33.000000
max    43.000000
age    15.716234
dtype: float64
age    247.0
dtype: float64
0     NaN
1    11.0
2    20.0
Name: age, dtype: float64

In [3]:
data = pd.read_table("data/students.txt",sep=",")#相对项目的路径
print(data)

             id name  age gender clazz
0    1500100001  施笑槐   22      女  文科六班
1    1500100002  吕金鹏   24      男  文科六班
2    1500100003  单乐蕊   22      女  理科六班
3    1500100004  葛德曜   24      男  理科三班
4    1500100005  宣谷芹   22      女  理科五班
5    1500100006  边昂雄   21      男  理科二班
6    1500100007  尚孤风   23      女  文科六班
7    1500100008  符半双   22      女  理科六班
8    1500100009  沈德昌   21      男  理科一班
9    1500100010  羿彦昌   23      男  理科六班
10   1500100011  宰运华   21      男  理科三班
11   1500100012  梁易槐   21      女  理科一班
12   1500100013  逯君昊   24      男  文科二班
13   1500100014  羿旭炎   23      男  理科五班
14   1500100015  宦怀绿   21      女  理科一班
15   1500100016  潘访烟   23      女  文科一班
16   1500100017  高芷天   21      女  理科五班
17   1500100018  骆怜雪   21      女  文科六班
18   1500100019  娄曦之   24      男  理科三班
19   1500100020  杭振凯   23      男  理科四班
20   1500100021  连鸿晖   22      男  理科六班
21   1500100022  薄运珧   23      男  文科四班
22   1500100023  东鸿畴   23      男  理科二班
23   1500100024  湛慕卉   22      女  文科二班
24   1500100025  翁飞昂   22      男  文科四班
25   1500100026  向鹏池   21      男  理科四班
26   1500100027  路辰锟   21      男  文科四班
27   1500100028  幸浩邈   24      男  理科五班
28   1500100029  滕旭炎   21      男  理科二班
29   1500100030  姚依丝   21      女  理科六班
..          ...  ...  ...    ...   ...
970  1500100971  郝曼凡   24      女  文科五班
971  1500100972  王昂杰   23      男  理科二班
972  1500100973  钮幼南   23      女  文科一班
973  1500100974  容鸿晖   21      男  文科五班
974  1500100975  蓬曜瑞   22      男  理科三班
975  1500100976  卓芷梦   21      女  文科六班
976  1500100977  邹飞珍   23      女  文科四班
977  1500100978  郜昆卉   21      男  文科五班
978  1500100979  乐曜灿   24      男  文科六班
979  1500100980  霍谷槐   22      女  理科一班
980  1500100981  经鹏涛   23      男  文科六班
981  1500100982  钱若芹   21      女  理科二班
982  1500100983  左傲薇   22      女  理科四班
983  1500100984  殷景逸   23      男  理科二班
984  1500100985  申飞珍   21      女  文科一班
985  1500100986  左天曼   22      女  文科一班
986  1500100987  双昆杰   24      男  文科四班
987  1500100988  余鸿云   22      男  文科六班
988  1500100989  柏盼香   24      女  理科六班
989  1500100990  扈旭鹏   23      男  理科三班
990  1500100991  冉飞昂   22      男  理科一班
991  1500100992  莫运盛   24      男  理科六班
992  1500100993  衡从蕾   21      女  理科二班
993  1500100994  相凌青   24      女  理科四班
994  1500100995  寿芷卉   24      女  理科五班
995  1500100996  厉运凡   24      男  文科三班
996  1500100997  陶敬曦   21      男  理科六班
997  1500100998  容昆宇   22      男  理科四班
998  1500100999  钟绮晴   23      女  文科五班
999  1500101000  符瑞渊   23      男  理科六班

[1000 rows x 5 columns]

In [5]:
scores = pd.read_csv("data/score.txt", header=None, names=["student_id", "cource_id", "score"])
print(scores)

      student_id  cource_id  score
0     1500100001    1000001     98
1     1500100001    1000002      5
2     1500100001    1000003    137
3     1500100001    1000004     29
4     1500100001    1000005     85
5     1500100001    1000006     52
6     1500100002    1000001    139
7     1500100002    1000002    102
8     1500100002    1000003     44
9     1500100002    1000004     18
10    1500100002    1000005     46
11    1500100002    1000006     91
12    1500100003    1000001     48
13    1500100003    1000002    132
14    1500100003    1000003     41
15    1500100003    1000007     32
16    1500100003    1000008      7
17    1500100003    1000009     99
18    1500100004    1000001    147
19    1500100004    1000002     69
20    1500100004    1000003     37
21    1500100004    1000007     87
22    1500100004    1000008     21
23    1500100004    1000009     60
24    1500100005    1000001    105
25    1500100005    1000002    105
26    1500100005    1000003     30
27    1500100005    1000007     68
28    1500100005    1000008     38
29    1500100005    1000009     49
...          ...        ...    ...
5970  1500100996    1000001     43
5971  1500100996    1000002     66
5972  1500100996    1000003    135
5973  1500100996    1000004     85
5974  1500100996    1000005      9
5975  1500100996    1000006     17
5976  1500100997    1000001    113
5977  1500100997    1000002     41
5978  1500100997    1000003     44
5979  1500100997    1000007     29
5980  1500100997    1000008     23
5981  1500100997    1000009     43
5982  1500100998    1000001     37
5983  1500100998    1000002     57
5984  1500100998    1000003    106
5985  1500100998    1000007     91
5986  1500100998    1000008      9
5987  1500100998    1000009     98
5988  1500100999    1000001    115
5989  1500100999    1000002     55
5990  1500100999    1000003    102
5991  1500100999    1000004     48
5992  1500100999    1000005     41
5993  1500100999    1000006     10
5994  1500101000    1000001    100
5995  1500101000    1000002     78
5996  1500101000    1000003     81
5997  1500101000    1000007      5
5998  1500101000    1000008     87
5999  1500101000    1000009     28

[6000 rows x 3 columns]